---
layout: layout.njk
permalink: /admin/browsers/agents/edit/
---
<script>
   let theFields = "id,userBrowserId,agentName"
   const theSettings = {"checkAdmin":0,"tableSchema":0,"allowOnlyOne":0,"editButton":1,"deleteButton":1,"customButton":"","customSelect":"","localDropDown":"","localReplace":"","table":"userAgents","formatFields":"","fields":theFields,"crumb":"{{ crumb }}","foreignKey":"userBrowserId","lookUps":"","title":"edit agents"}
 </script>
{% include "admin/table-edit.njk" %}

