---
layout: layout.njk
permalink: /admin/users/edit/
---
<script>
    let theFields = "id,email,username,password,phone";
    //main settings array to handle all the variations of rendering.
    const theSettings = {"checkAdmin":0,"tableSchema":0,"allowOnlyOne":0,"editButton":1,"deleteButton":1,"customButton":"","customSelect":"","localLookUp":"","localReplace":"","table":"user","formatFields":"","fields":theFields,"crumb":"{{ crumb }}","foreignKey":"","lookUps":"","overRideTitle":""}    

</script>
{% include "admin/table-edit.njk" %}
