---
layout: external-layout
permalink: /emulate/
---
{% set theJs %}
{% include 'emulate.js' %}
{% endset %}
<!--[if lt IE 9]><script src="../assets/js/html5shiv.js"></script><![endif]-->
<div class="iphone-12" id="iphone-12">
    <div class="screen">
        <iframe src="#" frameborder="0" id="browserFrame"></iframe>
    </div>
    <div class="home-button"></div>
</div>
<div class="google-pixel-7 d-none" id="google-pixel-7">
    <div class="pixelscreen">
        <iframe src="#" frameborder="0" id="browserFrame2"></iframe>
    </div>
    <div class="pixel-home-button"></div>
</div>
<script type="text/javascript">
</script>
{% if env.ENVIRONMENT == 'local' %}
<script type="text/javascript">
{{ theJs | safe }}
</script>
{% else %}
<script type="text/javascript">
{{ theJs | jsmin | safe }}
</script>
{% endif %}