---
layout: layout.njk
permalink: /{{env.LEVEL2NAME}}/new/
---
<script>
  let theFields = "name";
  //main settings array to handle all the variations of rendering.
  const theSettings = {"checkAdmin":1,"tableSchema":0,"allowOnlyOne":0,"editButton":1,"deleteButton":1,"customButton":"","customSelect":"","localDropDown":"","localReplace":"","table":"projects","formatFields":"","fields":theFields,"crumb":"{{ crumb }}","foreignKey":"","lookUps":"","title":""}
</script>
{% include "admin/table-new.njk" %}
